@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">wElCoMe tO mEmE TowN BoIs</h1>
    <img src="https://i.kym-cdn.com/entries/icons/original/000/022/940/mockingspongebobbb.jpg" alt="SpongeBob Meme">
<h5 class="display-4" style="font-size: 40px;"> Roll the dice... What's the worst that could happen...</h5>    
<button onclick="window.open('@ViewBag.MemeLink', '_blank'); location.reload();" width="300" height="300" alt="Dice Roll" type="button">
<img src="https://www.pngkey.com/png/full/417-4178249_casino-dice-dice.png" alt="Dice">

</button>
</div>

