@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">wElCoMe tO mEmE TowN BoIs</h1>
    <img src="https://i.kym-cdn.com/entries/icons/original/000/022/940/mockingspongebobbb.jpg" alt="SpongeBob Meme">
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
